<main class="container">
  <%= render_breadcrumbs %>
  <h2>Discord channels</h2>
  <ul>
    <% @discord_channels.each do |discord_channel| %>
      <li><%= link_to(discord_channel.name, discord_channel) %></li>
    <% end %>
  </ul>
</main>
