<%= turbo_frame_tag :live_player_show do %>
  <% if @channel %>
    <hgroup>
    <h2>Watch</h2>
    <h3><%= @channel %> is live on Twitch</h3>
    </hgroup>

    <iframe
      src="https://player.twitch.tv/?channel=<%= @channel %>&parent=<%= request.host %>"
      width="384"
      height="216"
      allowfullscreen="true">
    </iframe>
  <% else %>
    <hgroup>
    <h2>Watch</h2>
    <h3>on YouTube</h3>
    </hgroup>

    <iframe
      src="https://www.youtube.com/embed/GssbO8BXOAg?start=16"
      width="384"
      height="216"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen="true">
    </iframe>
  <% end %>
<% end %>
