<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Matches</h1>

  <div id="matches">
    <% @matches.each do |match| %>
      <%= render match %>
    <% end %>
  </div>
</div>
