/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans;
  background: #555;
  color: #ddd;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

table {
  background: #444;
  border-collapse: collapse;
  border: 1px solid #708090;
  border-bottom: 2px solid #708090;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  margin: 0px auto 5px auto;
}

table tr:hover {
  background: #555;
}

table tr:hover td {
  color: #eee;
}

table th, table td {
  border: 1px solid #708090;
  border-collapse: collapse;
  min-width: 60px;
  padding: 1px 4px;
}

table th {
  background: #708090;
  color: #eee;
  font-size: 12px;
}

a {
  color: #ddd;
}
