// Place all the styles related to the DashboardItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: sans;
  background: #555;
  color: #ddd;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

table {
  background: #444;
  border-collapse: collapse;
  border: 1px solid #708090;
  border-bottom: 2px solid #708090;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  margin: 0px auto 5px auto;
}

table tr:hover {
  background: #555;
}

table tr:hover td {
  color: #eee;
}

table th, table td {
  border: 1px solid #708090;
  border-collapse: collapse;
  min-width: 60px;
  padding: 1px 4px;
}

table th {
  background: #708090;
  color: #eee;
  font-size: 12px;
}

a {
  color: #ddd;
}
