<% content_for :title do %>
  <title>FortressOne - Results</title>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'results', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render template: "layouts/application" %>
